body {
    background-color: rgba(59, 59, 59, 0.782);
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.todolist {
    text-align: center;
    margin-top: 100px;
}

h2 {
    font-size: 3rem;
    color: white;
}

button {
    font-size: 1.3rem;
    font-weight: bold;
    padding: 5px 5px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.container {
    width: 700px;
    margin: 0 auto;
}

.add-btn {
    background-color: rgba(246, 147, 48, 0.825);
}

.add-btn:hover {
    background-color: rgb(104, 104, 168);
}

.delete-btn {
    background-color: rgba(248, 21, 21, 0.88);
}

.delete-btn:hover {
    background-color: rgb(121, 37, 37);
}

.move-btn {
    background-color: rgba(115, 202, 210, 0.599);
}

.move-btn:hover {
    background-color: rgba(115, 202, 210, 0.8);
}

input[type="text"] {
    font-size: 1.2rem;
    padding: 6px;
    border: 2px solid rgb(175, 172, 172);
    border-radius: 6px;
    color: rgba(26, 26, 26, 0.857);
    background-color: rgba(255, 255, 255, 0.9);
    margin-bottom: 10px;
}

ol {
    padding: 0;
    list-style-type: none;
}

li {
    font-size: 2rem;
    font-weight: bold;
    padding: 15px;
    background-color: rgba(229, 233, 232, 0.9);
    border: 1px solid rgb(216, 216, 216);
    border-radius: 7px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.text {
    flex: 1;
}

.delete-btn, .move-btn {
    padding: 8px 13px;
    font-size: 1.4rem;
    margin-left: 10px;
}
